# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/package-lock.json

/.pnp
.pnp.js
/src/backend/node_modules
/src/mentoring
/src/temp
loginkey.pem

/src/backend/.env
/src/backend/views
/src/backend/socket.js
/src/backend/config/secret.js
/src/backend/log

/src/backend/tempimage
/src/profile

# testing
/coverage

# production
/build
/frontend/build

# misc
.DS_Store
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
