<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Comento Email Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" bgColor="#F4F5F7" class="wrapper">
    <tbody style="display: block; max-width: 600px; margin: 0 auto; margin-top: 100px;">
      <tr width="100%" style="display: block;">
        <td width="100%" style="display: block">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" bgColor="#FFFFFF"
          style="display: inline-block; border-top: 50px solid transparent;
          background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(90deg, #033bff, #00e0ff);
          background-origin: border-box; background-clip: content-box, border-box; border-radius: 15px;
          border-collapse: collapse; margin-bottom: 100px;" class="container">
            <tbody style="display: block;">
              <tr>
                <td width="100%" style="padding-top: 20px; padding-left: 20px;">
                  <img src="./logo.png" width="50%">
                </td>
              </tr>
              <tr>
                <td style="font-size: 30px; font-weight: bold; padding-top: 20px; padding-left: 30px;">
                  멘토링이 체결되었습니다.
                </td>
              </tr>
              <tr>
                <td style="font-size: 20px; font-weight: 500; padding-top: 20px; padding-left: 40px;">
                  멘토링 링크 : <a href= <%= chattingLink %>> 여기를 눌러서 채팅창으로 이동해보세요! </a>
                </td>
              </tr>
              <tr>
                <td style="font-size: 25px; font-weight: 700; padding-top: 20px; padding-left: 40px;">
                  멘토링 정보
                </td>
              </tr>
              <tr>
                <td style="font-size: 20px; font-weight: 500; padding-top: 10px; padding-left: 40px;">
                  멘티 : <%= menteeNickname %>
                </td>
              </tr>
              <tr>
                <td style="font-size: 20px; font-weight: 500; padding-top: 3px; padding-left: 40px;">
                  멘토 : <%= mentorNickname %>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; padding-top: 30px; padding-left: 30px; padding-right: auto;">
                  <hr width="154%">
                </td>
              </tr>
              <tr>
                <td>
                  <a href=""
                  style="display: inline-block; width: 100%; text-align: center; margin-top: 10px; margin-bottom: 20px;
                  border: 2px solid #5666E5; border-radius: 10px; margin-left: 28%; cursor: pointer;
                  color: #5666E5; font-size: 20px; font-family: sans-serif; font-weight: 600; text-decoration: none;
                  line-height: 50px; -webkit-text-size-adjust: none;">
                  코멘토 바로가기</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>